{% extends 'base.html' %}
{% block title %}
    Feed
{% endblock %}

{% block content %}

    <script>


        var UPDATE_INTERVAL = 1000; /* Time before requesting and
                                 new messages (milliseconds) */ 

        var toggleUp = false;
        var username_list_open = false;

        var global_time_counter = 0;
        var global_time_string = null;

        var target_user_id = 0; /* User id of 0 indicates that 
                                @Everyone is the target */

        /**
         * Returns a string describing the current time e.g. "2:30 pm"
         * Takes the argument "time" to be the number of milliseconds 
         * since the epoch
         */
        function create_time_string(time) {
            
            var date = new Date(parseInt(time));
            var hours = String(date.getHours());
            var mins = String(date.getMinutes());


            // Setting the correct am or pm suffix
            var am_pm = hours <= 12 ? "am" : "pm"; 
            
            // Converting hours from 24hr time to 12hr time
            hours = hours > 12 ? hours - 12 : hours;

            // Adding leading zeros to "pad-out" any numbers
            // less than 10
            if (hours.length == 1) {
                hours = "0" + hours
            } 
            if (mins.length == 1) {
                mins = "0" + mins
            } 

            // Constructing the final string
            var time_string = hours + ":" + mins + " " + am_pm;
            return time_string;
        }

        /**
         * Appends the html for a single message. 
         * If the variable "message_type" is the string "received" then 
         * the message is placed on the left side of the chat, if it is
         * "sent", then it is on the right side.
         * The variable "time" is the number of milliseconds since the epoch
         */
        function create_message(message_type, text, time) {
            
            if (time > global_time_counter) {
                global_time_counter = time;
            }


            // If the time string is new (i.e. different from the global
            // time string) then the global time string is updated. Otherwise 
            // the time string is set to empty.
            // This updates minute by minute.
            var time_string = create_time_string(time);
            if (global_time_string != time_string)  {
                global_time_string = time_string;
            }
            else {
                time_string = "";
            }

            msg_type = String(message_type)
            $(".messages").append(
                $("<div/>", {"class":msg_type+"-message"}).append( 
                            $("<img/>", {"class":msg_type + "-profile-icon"})
                        )
                        .append(
                            // Adding the message text and timestamp
                            $("<div/>", {"class":msg_type + "-textbox"})
                            .append(
                                $("<div/>", {"class":msg_type + "-text",text:text})
                            ) 
                            .append($("<span/>", {"class":msg_type + "-time", text:time_string}))   
                        )
                        
                    )
        };

        /**
         * Sends a POST request to the backend asking
         * that the variable "text" be stored in the 
         * database as the content of a sent message
         * created at "time" by the user with id of
         * "sender_id" to the user with id "receiver_id"
         * Note that if the variable "all_message" is 
         * set as the boolean true the the message will be 
         * understood as intended for all users and the 
         * variable "receiver_id" will effectively be ignored.
         */
        function upload_message(text, time, sender_id, receiver_id, for_all) {
            $.ajax({
                type: "POST",
                url: "/feed",
                data: {"text":text,
                    "time":time,
                    "sender_id": sender_id,
                    "receiver_id":receiver_id,
                    "for_all":for_all
                    }
            });
        };

        /**
         * Main input handling function. When triggered,
         * the contents of the input form are added to the
         * chat as a "sent" message and then sent to the 
         * database via a POST request handled by the 
         * upload_message() function
         */
        function handle_input() {
            var text = $(".form-control").val();
            // Not proceeding if no next is found
            if (text != "") {
                var time = Date.now();
                create_message("sent", text, time); 
                
                // Scrolling the feed down to the most recent message
                // Used https://stackoverflow.com/a/2664878 to figure
                // out how to index the div to find its scroll height
                $(".messages").scrollTop($(".messages")[0].scrollHeight);
                $(".form-control").val("");
                
                var for_all = (target_user_id == 0)
                upload_message(text, time, "{{USER_ID}}", target_user_id, for_all);
            }
        };
        /**
         * Triggers handle_input() if the submit button is clicked 
         */
            $(document).on("click",".message-submit", function() {
            handle_input();  
        });

        /**
         * Triggers handle_input() if the enter button is pushed
         */
        $(document).on("keypress", function(e) {
            if(e.which == "13") {
                handle_input();
            }
        });

        /**
         * A looped check that periodically sends a get request to 
         * the server for any new messages for the user
         */
        setInterval(function() {
            $.ajax({
                type: "GET",
                url: "/feed",
                data: {"request_type":"update_query"},
                success: function (data) {
                    if (data["update_required"]) {
                        var messages = data["visible_messages"];
                        var i = 0;
                        while (i < messages.length) {
                            if (messages[i]["time"] > global_time_counter) {
                                create_message(messages[i]["type"],
                                            messages[i]["text"],
                                            messages[i]["time"]);
                            }
                            i++;
                        } 
                    }
                }
            });
        }, UPDATE_INTERVAL);


        $(document).on("click","#chat-minimize", function() {
            if(toggleUp){
                    $('#chat').height('');
                    $('#chat').css('width', '');
                    $('#chatBody').height('');
                    $('#chatBody').css('width', '');
                    $('#chat').css('cursor', 'pointer');
                    $(".chat-heading").empty();
                    $(".chat-heading").append($("<div/>", {text:"Chat"}))
                    toggleUp = false;
                } 
        });

        // $(document).on("click",".current-username", function() {
        //     if (!username_list_open) {
        //         $(".username-list").css("z-index", "10");
        //         $(".username-list").css("position", "overflow");
        //         $(".username-list").css("display", "block");
        //         $(".username-list").css("left", "-100vw");
        //         $(".username-list").css("overflow", "scroll");
        //         $(".username-list").css("scrollbar-width", "none");
        //         username_list_open = true;
        //     }
        //     else {
        //         $(".username-list").css("color", "#ffffff");
        //         $(".username-list").css("display", "none");
        //         $(".username-list").css("font-size", "25px");
        //         $(".username-list").css("background-color", "#ffffff;");
        //         $(".username-list").css("width", "6vw");
        //         $(".username-list").css("padding-top", "10px");
        //         $(".username-list").css("padding-right", "80px");     
        //         username_list_open = false;
        //     }
        // });



        $(document).ready(function () {

        /* Ensuring that msg-page div is scrolled all the way down 
            to the most recent message when the page is loaded  
            https://stackoverflow.com/a/2664878 was used to understand
            how to index a div to find its scroll height */
            $(".messages").scrollTop($(".messages")[0].scrollHeight);

            $("#helpButton").mouseenter(function(){
                $('#tooltip-htp').css('opacity', '100%');
            });
            $("#helpButton").mouseleave(function(){
                $('#tooltip-htp').css('opacity', '0');
            });

            $("#chat").on("click", function(){
                if(!toggleUp){
                    $('#chat').height($(window).height() / 1.31);
                    $('#chat').css('width', "22vw");
                    $('#chatBody').height($(window).height() / 1.256 - $('#chat').height())
                    $('#chatBody').css('width', "22vw");
                    $('#chat').css('cursor', 'default');
                    $('#chat').css('cursor', 'pointer');

                    $(".chat-heading").empty();
                    $(".chat-heading").append(
                        $("<img/>", {"class":"profile-icon-header"})
                    )
                    .append(
                            $("<div/>", {"class":"current-username", text:"@everyone"}).append(
                                $("<div/>", {"class":"username-list"}).append(
                                    $("<p/>", {text:"@user_1"})
                                    .append(
                                        $("<p/>", {text:"@user_2"})
                                    )
                                )
                            )
                    )
                    .append(
                        $("<button/>", {"id":"chat-minimize"}).append(
                            $("<div/>", {"class":"chat-minimize-symbol", text:"x"})
                        )
                    )        
                    toggleUp = true;
                }
            });

        });
    </script>

    <div class="text-center pageHeading">
        <h1>Feed</h1>
        <h2>Create, Play, Explore!</h2>
    </div>

    <div class="container filter-bar">
        <div class="row justify-content-center">
                <select id="categoryFilter" onchange="filterGames()">
                    <option value="">All Categories</option>
                    <option value="history">History</option>
                    <option value="media">Media</option>
                    <option value="sports">Sports</option>
                    <option value="music">Music</option>
                    <option value="games">Games</option>
                    <option value="books">Books</option>
                    <option value="places">Places</option>
                    <option value="food">Food</option>
                    <option value="misc">Misc.</option>
                </select>
        </div>
    </div>


    <div class="container mt-5">
        <!-- Each row-->
        <div class="row mt-2 justify-content-start">
                {% set cols = 3 %}
                <!-- For each gamebox-->
                {% for game in games %}
                    <div class="col-4 mt-4" >
                        <button href="{{ url_for('hangman_page') }}" class="mb-5 card game-card {{ game.category|lower|replace('.', '')}}" data-category="{{ game.category|lower }}" data-time = "{{ game.timeLimit }}">
                            <div class="card-body">
                                <img class="profile-image" src="https://img.freepik.com/premium-vector/stick-figure-man-isolated-vector_566661-759.jpg"></img>
                                    <div class="category-name">
                                        {{ game.category }}
                                    </div>
                                    <div class="start-game">Start game!</div>
                                    <div class="user-info">
                                        @{{ game.creator.username }} - {{ game.caption }}
                                    </div>
                            </div>
                            <img class="hand right-hand" src="{{ url_for('static', filename='deliverables/gameFeed/hand-2.svg') }}"></img>
                            <img class="hand left-hand" src="{{ url_for('static', filename='deliverables/gameFeed/hand1.svg') }}"></img>
                        </button>
                    </div>

                    {% if loop.index % cols == 0 and not loop.last %}
                        <div class="row mt-2 justify-content-start"></div>
                    {% endif %}
                {% endfor %}
        </div>
    </div>

    <div id="tooltip-htp"><b>How to play:</b><br>
        1. Filter by category and difficulty level to suit your gameplay.<br>
        2. Click on a game to play.<br>
        3. Complete the game within the time and moves limits to earn rewards!<br><br>
        <b>Create:</b><br>
        1. Follow the "create" button to make your own game.<br>
        2. Pick a category and set a word or phrase to be solved.<br>
        3. Choose a difficulty level to determine the number of guesses and time limit.<br>
        4. Add a caption and post to make your game live!
    </div>

    <div id="helpButton" class="text-center">
        <button id="help">?</button>
    </div>

    <div id="createButton">
        <a href="{{ url_for('create_page') }}"><button id="create">create</button><a>
    </div>

    
    <a href="#"><button id="chat">
        <div class="heading-container">
                <div class="chat-heading">
                    <div> Chat </div>
                </div>
        </div>
    </button><a>
    <div id="chatBody">
        <div class="messages-container">
            <div class="messages">
                        <!-- All preloaded messages from the database -->
                        {% for message in visible_messages %}
                            <script>
                                create_message("{{message['type']}}", 
                                                "{{message['text']}}", 
                                                "{{message['time']}}")
                            </script>
                        {% endfor %}
                        <!--Messages are added here by the JS function createMessage() -->
            </div>
            <div class="msg-bottom input-group">
                <input type="text" class="form-control" placeholder="Send a message...">
                <button type="submit" class="message-submit"> 

                    Send
                </button>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var toggleUp = false;

            $("#helpButton").mouseenter(function(){
                $('#tooltip-htp').css('display', 'block');
                $('#tooltop-htp').css('z-index', '5');
            });
            $("#helpButton").mouseleave(function(){
                $('#tooltip-htp').css('display', 'none');
                $('#tooltop-htp').css('z-index', '0');
            });
            $('.game-card').mouseenter(function(){
                    $(this).find('.category-name').hide();
                    $(this).find('.start-game').css('visibility', 'visible');
                    $(this).find('.hand').show();
            });
            $('.game-card').mouseleave(function(){
                    $(this).find('.category-name').show();
                    $(this).find('.start-game').css('visibility', 'hidden');
                    $(this).find('.hand').hide();
            });
        }); 
        function filterGames() {
            const categoryFilter = document.getElementById('categoryFilter').value.toLowerCase();
            const gameCards = document.querySelectorAll('.game-card');
            gameCards.forEach(card => {
                const gameCategory = card.getAttribute('data-category').toLowerCase();
                const cardParent = card.parentNode;

                if (categoryFilter === '' || gameCategory === categoryFilter){
                    cardParent.style.display = ''; 
                } else {
                    cardParent.style.display = 'none'; 
                }
            });
        }
            
    </script>

    <style>


        .filter-bar{
            padding: 1vh;

        }
        .filter-bar .row .col-md-3:not(:last-child) {
            margin-bottom: 0px;
        }
        #timeSliderLabel{
            color: #0d0d0b;
            font-weight: 900;
            font-size: 1vw;
        }
        #categoryFilter {
            border: 2px solid #0a0a08;
            background-color: #ffef5b;
            font-size: 1vw;
            font-weight: 900;
            border-radius: 10px;
            height: 5vh;
            padding: 2px;
            width: 10vw;
            margin-right: 10vw;
        }

        #categoryFilter option {
            background-color: #efefa9;
            border-radius: 2px solid;
            color: #140e0e;
        }


        .form-range {
            -webkit-appearance: none; 
            width: 40%; 
            height: 1vh;
            background: #f3f3a5; 
            border: 1px solid black; 
            border-radius: 10px;
            transition: opacity .5s;
            margin: 0vw 0.5vw 0 0.5vw;
        }

        .form-range::-webkit-slider-thumb {
            -webkit-appearance: none; 
            appearance: none;
            width: 1.5vw;
            height: 3vh;
            background: #f5f553;
            cursor: pointer;
            border-radius: 50%;
            border: #0d0d0b 1px solid;
        }
        #clearTimeButton {
            margin-top: 0px;
            border: 2px solid #10100d;
            background-color: #f9e42c;
            font-size: 1vw;
            font-weight: 900;
            border-radius: 20px;
            height:4vh; 
        }
        .pageHeading h1{
            font-size: 3vw;
            font-family: "Indie Flower", sans-serif;
            color: #ebd834;
            margin-top: 120px;
        }

        .pageHeading h2{
            color:black;
            font-family: "Indie Flower", sans-serif;
            font-size:2vw;
        }

        .container {
            @include make-container();
            padding-left: 10vw;
            width: 75%;
        }

        
        #helpButton{
            position:fixed;
            bottom:10%;
            left:10%;
            z-index:2;
        }

        #help{
            @media screen and (max-width: 600px) {
                height:4.5vw;
                width:4.5vw;
                font-size:3vw;
            }
            @media screen and (min-width: 601px) {
                height:2.5vw;
                width:2.5vw;
                font-size:1.6vw;
            }
            border-radius:50%;
            background-color:#fff3ae;
            color:black;
            font-family: "Indie Flower", sans-serif;
            pointer-events:none;
        }

        #tooltip-htp{
            padding:1%;
            background-color: #fcf4ac;
            position:fixed;
            color:black;
            left:10%;
            z-index: 1000;
            text-align:left;
            @media screen and (max-width: 600px) {
                height:40vw;
                width:30vw;
                font-size:1.5vw;
                bottom:15%;
            }
            @media screen and (min-width: 601px) {
                height:25vw;
                width:15vw;
                font-size:0.8vw;
                bottom:17%;
            }
            display:none;
            transition:0.3s ease;
        }

        #createButton{
            position:fixed;
            bottom:10%;
            left:50%;
            transform: translate(-50%, 0);
            z-index:4;
        }

        #create{
            border-radius:50px;
            @media screen and (max-width: 600px) {
                height:5vw;
                width:14vw;
                font-size:3vw;
            }
            @media screen and (min-width: 601px) {
                height:2.5vw;
                width:8vw;
                font-size:1.5vw;
            }
            font-family: "Indie Flower", sans-serif;
            font-weight:bold;
            background-color: #ebd834;
            box-shadow: white 0 0 100px 50px;
        }

        #chat{
            @media screen and (max-width: 600px) {
                height:5vw;
                width:12vw;
                font-size:5vw;
            }
            @media screen and (min-width: 601px) {
                height:2.5vw;
                width:12vw;
                font-size:1.5vw
            }
            font-family: sans-serif;
            z-index: 0;
            border-radius: 3px;
            border-style: solid;
            border-width: 2px;
            transition:0.6s ease;
            position:fixed;
            color: #000000;
            bottom:0%;
            right: 7%;
            display: inline-flex;
            justify-content:center;
            background-color: #4267B2;
            box-shadow: 2px 5px 4px rgba(0,0,0,0.3); 
        }

        #chatBody{
            @media screen and (max-width: 600px) {
                height:5vw;
                width:14vw;
                font-size:5vw;
            }
            @media screen and (min-width: 601px) {
                height:2.5vw;
                width:12vw;
                font-size:3vw;
            }
            z-index: 0;
            font-family: sans-serif;
            background-color:rgb(255, 255, 255);
            border-bottom:none;
            transition:0.6s ease;
            position:fixed;
            bottom:-5%;
            right: 7%;
            margin:auto;
            letter-spacing: 0.3px;
        }

        /* Chat styling */

        .chat-heading {
            transition: 0.6s ease;
            text-align:justify; 
            margin-bottom: 10px;
            color: #fff;
            font-size: 25px;
            display: flex;
            flex-direction: row;
        }

        button#chat-minimize {
            border: none;
            background: none;
            color: #fff;
        }

        .chat-minimize-text {
            vertical-align:top;
            float: right;
            top: 100vw;
            font-size: 25px;
            font-weight:bolder;
        }

            
        img {
            width: 100%;
            height: auto;
            position: relative;
        }

        .heading-container {
            width: 100%;
            height: 100%;
            padding-top: 0;
        }

        .messages-container {
            width: 100%;
            height: 100%;
            padding-top: 5px;
        }

        .messages {
            z-index: 0;
            width: 100%;
            height: 82%;
            flex-direction: column; 
            display: flex;
            align-items: baseline;
            justify-content: start; /* Aligns children to the start of the container */
            padding-top: 0px;
            padding-bottom: 1px;
            color: white;
            margin-top: 0px;
            border-bottom: 5px solid white;
            border-top: 5px solid white;

            /* Used example from 
            https://jsfiddle.net/3wjs84ce/
            to enable scrolling without showing a scrollbar
            */
            overflow-y: scroll;
            overflow: scroll;
            scrollbar-width: none; 

            position: relative;
            transition:0.6s ease;
        }

        .received-message, .sent-message {
            margin-bottom: 20px;
            display:flex;
            position: relative;
            height: 50px;
        }

        .received-textbox, .sent-textbox {
            border-radius: 9px;
            font-size: 16px;
            padding: 8px;
            word-wrap: break-word;
            align-items:center;
            background-color:#ff9ac8;
            color: rgba(0, 0, 0, 0.848);
            box-shadow: 2px 5px 4px rgba(0,0,0,0.3); 
        }

        .received-message, .received-textbox {
            text-align: left;
            float: left;
            margin-left: 10px;
            display: flex;
            align-items: flex-start;
        }

        .sent-message, .sent-textbox {
            text-align: left;
            margin-left: auto;
            margin-right: 10px;
            display: flex;
            align-items: flex-start;
            flex-direction: row-reverse;
        }

        .sent-textbox {
            background-color:#feff9c;
        }

        .received-text, .sent-text {
            min-width: 50px;
            padding-bottom: 10px;
            height: 20px;
            line-height: 20px;    
        }

        /* Clear floats (Plural?) */
        .received-textbox:after, .sent-textbox:after { 
            content: "";
            display: table;
            clear: both;
        }

        .input-group .form-control {
            margin-left: 10px;
            border-radius: 20px !important; 
            background-color:rgb(225, 225, 225);
            color: #000000; 
            border: 1px solid #eeefef; 
            margin-top: 20px;
            font-size: 18px;    
            box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
        }

        /* To remove the border focus color */
        .input-group .form-control:focus {
            border-color: #8084a2; 
        }

        /* Send button */
        .message-submit {
            z-index: 3;
            right: 18px;
            font-size: 18px;
            border: none;
            margin-top: 20px;
            margin-right: 10px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: #4267B2;
            border-radius: 20px;
            color: rgb(255, 255, 255);
            outline: none !important;
        }

        .message-submit:hover {
            box-shadow: 0 0px 3px rgba(9, 7, 31, 0.852);  
        }

        .profile-icon-header {
            width: 40px; /* Adjust size as needed */
            height: 40px;
            margin-top: 0.5vw;
            margin-left: 4.5px;
            background-color: lightgray;/* Placeholder color, use actual image */
            border-radius: 70%;
            border-style: solid;
            border-color:lightgrey;
        }
        .sent-profile-icon, .received-profile-icon{
            width: 40px; /* Adjust size as needed */
            height: 40px;
            background-color: lightgray;/* Placeholder color, use actual image */
            border-radius: 70%;
            border-style: solid;
            border-color:lightgrey;
        }

        .received-profile-icon {
            float: left;
        }

        .sent-profile-icon {
            float: right;
        }

        .received-time, .sent-time {
            width: 80px;
            font-size: 15px;
            color: #171212cb;
            position:absolute;
            padding-top: 30px;
        }

        .username-list {
            display: none;
            font-size: 25px; 
            color: #ffffff;
            background-color:#ffffff;
            width:8vw;
            padding-top: 10px;
            padding-right: 80px;
        }

        .current-username {
            z-index: 20;
            color: #eff6ff;
            margin-top: 0.5vw;
            padding-left: 1vw;
            padding-right: 75%;
            width: 3vw;
        }

        .current-username:hover {
            color: #ffffff;
            font-size: 26px;
            transition:0.3s ease;
        }

        .username-list  p:hover {
            color:#fb4999;

        }

        .game-card {
            width: 10vw; 
            height: 10vw;
            border: none;
            text-align: left;
            cursor: pointer;
            border-radius: 70px 70px 0px 0px;
            transition: transform 0.3s ease; 
            z-index:4;
            border: 2px solid black;
        }
        .game-card::before, .game-card::after {
            content: '';
            position: absolute;
            top: 100%; 
            width: 5px; 
            height: 0vh; 
            background-color: black;
            transition: height 0.3s ease; 
        }

        .game-card::before {
            left: 25%; 
        }
        .game-card::after {
            right: 25%; 
        }
        .game-card:hover {
            transform: translateY(-10px); 
        }
        .game-card:hover::before, .game-card:hover::after {
            height: 8vh; 
        }
        @media (max-width: 768px) {
            .game-card::before, .game-card::after {
                height: 0vh; 
            }

            .game-card:hover::before, .game-card:hover::after {
                height: 2vh; 
            }
        }

        .game-card .card-body {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
        }
      
        .game-card .profile-image {
          width: 4vw;
          height: 4vw;
          border-radius: 50%;
          object-fit: cover;
          border: 2px solid black;
          z-index: 3;
          position: absolute; 
          top: -20%; 
          left: 50%;
          transform: translateX(-50%); 
        }
      
        .game-card .category-name {
          font-size: 1.5vw;
          position:absolute;
          font-weight: bold;
          text-align:center;
          padding-bottom: 2vh;
        }
      
        .game-card .user-info {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 35%;
          background-color: rgba(205, 203, 203, 0.4);
          padding-left: 10%;
          padding-right: 5%;
          display: flex;
          justify-content: start;
          align-items: center;
          word-wrap: break-word;
          box-sizing: border-box; 
          font-size: 0.7vw;
        }
      
        .start-game {
            visibility: hidden;
            position:absolute;
            font-size: 1.2vw;
            font-weight: bolder;
            background-color: transparent;
            color: black;
            padding-bottom: 2vh;
          }

        .history{
            background-color:#FFD33B;
        }

        .media{
            background-color:#FF7AB2;
        }

        .sports{
            background-color:#7AE864;
        }
        
        .music{
            background-color:#FD9A5C;
        }

        .games{
            background-color:#CE64E8;
        }

        .books{
            background-color:#5C6FC8;
        }

        .places{
            background-color:#9ACBFF;
        }

        .food{
            background-color:#FF4040;
        }

        .misc{
            background-color:#C1FF72;
        }

        .game-card:hover{
          box-shadow: 1px 1px 20px rgb(215, 215, 213);
        }

        .hand{
            display: none;
            position: absolute;
            transition: all 0.3s ease;
            width: 5vw; 
            height: auto; 
            z-index: 1000;
            transition: all 0.3s ease;
        }
        .left-hand {
            left: calc(50% - 7vw); 
            top: 50%;
            transform: translateY(-50%) translateX(-100%);
        }
        .right-hand {
            right: calc(50% - 17vw); 
            top: 40%;
            transform: translateY(-50%) translateX(-100%);
        }
        .game-card:hover .hand {
            display: block; 
        }

    </style>
{% endblock %}