{% extends 'base.html' %}
{% block title %}
    Leaderboard
{% endblock %}

{% block content %}
    <div class="text-center pageHeading">
        <h1>Leaderboard</h1>
        <h2>how do you match up with your fellow players?</h2>
    </div>

    <div class="mt-5 text-center subjectOptions">
        <button id="all">
            all
        </button>
        <button id="FT">
            film/TV
        </button>
        <button id="books">
            books
        </button>
        <button id="history">
            history
        </button>
        <button id="sports">
            sports
        </button>
        <button id="music">
            music
        </button>
        <button id="games">
            games
        </button>
        <button id="places">
            places
        </button>
        <button id="food">
            food
        </button>
        <button id="misc">
            misc.
        </button>
    </div>

    <div class="mt-5 mb-5 d-flex justify-content-center" id="leaderboardTable">
        <table>
            <tr><th>rank</th><th>user</th><th>points</th>
            {% set rank = 1 %}
            {% for user in ordered_table %}
                <tr><td>{{ rank }}</td><td>{{ user.Username }}</td><td>{{ user.Successes }}</td></tr>
                {% set rank = rank+1 %}
            {% endfor %}
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var buttons=$('button');
            buttons.css('width', '7vw');
            buttons.css('height', '3vw');
            buttons.css('font-size', '0.9vw');
        });
    </script>

    <style>
        .pageHeading h1{
            font-size: 5vw;
            font-family: "Indie Flower", sans-serif;
            font-weight: 500;
            color: #ebd834;
            margin-top: 120px;
        }

        .pageHeading h2{
            color:black;
            font-family: "Indie Flower", sans-serif;
            font-weight: bold;
        }

        button{
            border-radius:70px;
            width: 6vw;
            height: 2vw;
            font-size: 0.5vw;
            margin: 0.5vw;
            vertical-align:middle;
            transition: 0.5s ease;
        }

        #all{
            background-color:
        }

        #history{
            background-color:#fae62f;
        }

        #sports{
            background-color:#45991f;
            color:white;
        }

        #music{
            background-color:#fc8f28;
        }

        #games{
            background-color:#ac14ba;
            color:white;
        }

        #FT{
            background-color:#ff6bba;
        }

        #books{
            background-color:#5447ff;
            color:white;
        }

        #food{
            background-color:#fc0303;
            color:white;
        }

        #places{
            background-color:#53fcfc;
        }

        #misc{
            background-color:#c0ff2b;
        }

        table{
            color:black;
        }

        th{
            border-right:3px solid #ebd834;
            border-left:3px solid #ebd834;
            border-bottom: 3px solid #ebd834;
            font-size:2vw;
            padding:1em;
            text-align:center;
        }

        td{
            border-right:3px solid #ebd834;
            border-left:3px solid #ebd834;
            padding-left:2vw;
            padding-right:2vw;
            text-align:center;
            font-size:1.8vw;
        }

        tr:hover{
            background-color: #e8e8e8;
        }

    </style>
{% endblock %}