{% extends 'base.html' %}
{% block title%}
login page
{% endblock %}

{% block content %}
<div class="login text-center">
    <div class="container"> 
        <form method="post" class="form-register" style="color:black">
            {{ form.hidden_tag() }}
            <img class="mb-3" src="https://pngimg.com/d/sticky_note_PNG18964.png" style="height:200px;width:auto;margin-top: 90px;">
            <h1 class="mb-2">Log in</h1>
            <br>
            <p>
            {{ form.username(class="form-control", placeholder="User Name") }}
            </p>
            <p>
            {{ form.password(class="form-control", placeholder="Password") }}
            </p>
            {{ form.submit(class="btn btn-lg btn-block btn-info")}}

            <div class="incase mt-3">
                <h7>Click here if you have not registered:</h7>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>
        </form>
    </div> 
</div>


<style>

</style>
{% endblock %}