@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');


html {
    height: 100%;
}

body {
    background: rgb(48,23,79);
    background: radial-gradient(circle, rgba(48,23,79,1) 0%, rgba(10,1,20,1) 100%);
    /*background: radial-gradient(circle, rgb(52, 42, 123) 0%, rgba(10,1,20,1) 100%) ;*/
    height: 100%;
    background-repeat: no-repeat;
    font-size: 1rem;
    color: #c2c2c2;
    /*display:flex;
    justify-content: center;*/
}
/*
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }*/

.nav-link{
    font-size: 1.14rem;
    /*font-family:  monospace;*/
    /*font-weight: 500;*/
    color: #cac8c8;
}

.nav-link:hover{
    color: whitesmoke;
}

.carousel-item {
    height: 650px;
}

.carousel-item div {
    height: 100%;
    margin-top: 7em;
}

h1{
    font-size: 60px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    /*color:goldenrod;*/
    color: aliceblue;
    text-shadow: 0 0 40px white;
}

h2{
    font-size:20px;
    color:lightslategray;
}

/*#slide1 button{
    border-radius: 20%;
}*/

/*
#slide1 button{
    border: 2px solid rgba(239, 199, 22, 0.808);
    outline: 2px solid rgba(239, 199, 22, 0.808);
    outline-offset: -2px;
    transition: outline-offset 200ms ease;
    font-size: 1.5rem;
    background: transparent;
    color: rgba(239, 199, 22, 0.808);
    border-radius: 15px;
    padding: 5px 15px;
  }

  #slide1 button:hover{
    outline-offset: 3px;
  }
*/


/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }*/

  button {
    position: relative;
    overflow: hidden;
    /*background: #42455a;*/
    background: rgb(43, 21, 71);
    width: 87px;
    height: 87px;
    border-radius: 50%;
    font-family: "Kanit",sans-serif;
    border: none;
    font-size: 1.1rem;
    color: #ffffffdd;
    /*color: aliceblue;*/
    font-weight: 390;
    cursor: pointer;
    z-index: 1;
    /*text-shadow: 0 0 40px white;*/
  
  }
  button:active{
    transform: scale(0.95);
  }
  button::before{
    content: '';
    position: absolute;
    inset: -1px 30px;
    /*background: goldenrod;*/
    background: whitesmoke;
    transition: 500ms;
    animation: rotate 4s linear infinite;
    z-index: -1;
    box-shadow: 0 0 29px white;
  }

  button:hover::before{
    inset: -1px;
  }


  button::after{
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 50%;
    /*background: #3c3c3f;*/
    background: rgb(56, 40, 76);
    z-index: -1;
    
  }
  @keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }



.carousel-indicators{
    position: absolute;
}

.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.kanit-extralight {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-extrabold {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-black {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.kanit-thin-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.kanit-extralight-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kanit-light-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kanit-regular-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kanit-medium-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kanit-semibold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kanit-bold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kanit-extrabold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.kanit-black-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: italic;
}

