<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tic Tac Twist</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/landing_style.css">
</head>
<body>

    <!-- NAVBAR HERE-->

    <nav id="nav" class="shadow-lg navbar navbar-expand-md navbar-dark fixed-top">
        <!--<div class="container-fluid">-->
            <a class="navbar-brand kanit-regular" style="color: #ffffffdd; font-size: 1.4rem;"  href="#">
                <img src="/static/deliverables/logo.png" style="height:50px;width:auto;" alt="logo">
            </a>
            <div class="collapse navbar-collapse kanit-light" id="navbarNav">
                <!-- List 1-->
                <ul class="navbar-nav">
                    <!--<li class="nav-item">
                        <a class="nav-link mr-3" style="color: #ffffffdd; font-size: 1.4rem;" href="#">Tic-Tac-Twist</a>
                    </li>-->
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Chat</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Connect</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Shop</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Stats</a>
                      </li>
                  </ul>
                <!-- List 2-->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                </ul>
            </div>
        <!--</div>-->
    </nav>

    <div class="mt-5 text-center callToAction">
        <h1>Tic Tac Twist</h1>
        <h2>THE ULTIMATE TIC-TAC-TOE EXPERIENCE IN ONE SITE</h2>

        <button class = "play_button" class="mt-5">
            <span>Play now!</span>
        </button>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class = "col-sm-6 col-md-6 col-xs-12"> 
                <img id="img1" src="https://png.pngtree.com/thumb_back/fw800/background/20221008/pngtree-bright-purple-square-mosaic-for-textural-background-glass-violet-digital-photo-image_39571226.jpg">
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12 mt-5 info">
                <h1 class="text-center">Connect</h1>
                <h2 class="text-center">Make friends, challenge them to games, and begin climbing the ranks!</h2>
            </div>
        </div>

        <div class="row row2 justify-content-center">
            <div class = "col-sm-6 col-md-6 col-xs-12 mt-5 info"> 
                <h1 class="text-center">Earn</h1>
                <h2 class="text-center">The more you play, the more opportunities you have to collect coins and customise your avatar and gameplay.</h2>
            </div>
            <div class="col-xs-4 ml-5 mt-5 justify-content-center">
                <img id="img1" src="https://png.pngtree.com/thumb_back/fw800/background/20221008/pngtree-bright-purple-square-mosaic-for-textural-background-glass-violet-digital-photo-image_39571226.jpg">
            </div>
        </div>
    </div>


    <footer class="text-center">
        © 2024 TicTacTwist.com, or its affiliates. All rights reserved. 
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

<!--
    <script>
    // When user scrolls, call function
    window.onscroll = function() {navStick()};
  
    // Get navbar
    var navbar = document.getElementById("nav");
    // Get the offset position of the navbar
    var sticky = navbar.offsetTop;
  
    // Make navbar stick to the top
    function navStick(){
      navbar.classList.add("sticky");
    }
  </script>
-->

</html>