{% extends 'base.html' %}
{% block title %}
    Shop/Market page
{% endblock %}

{% block content %}
    <h1 class="title">Shop/Market</h1>

    <!-- Iterate over list provided in app.py-->
    <!--Use temporary bootatrap table to display the items in our 'Shop'-->
    <table class="table table-hover table-dark table-striped">
        <thead>
            <tr>
                <!-- Our columns-->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Rarity</th>
            </tr>
        </thead>
        <tbody>
            <!-- Our rows-->
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>${{ item.price }}</td>
                    <td>{{ item.rarity }}</td>
                    <td>
                        <button class="btn btn-outline btn-info">More info</button>
                        <button class="btn btn-outline btn-success">Purchase</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <style>
        /*Required due to the fixed-top bootstrap attribute in our navbar.It acts as the navbar doesnt even exist on the page, which messes up spacing*/
        .title{
            margin-top: 90px;
        }
    </style>
{% endblock %}
